@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;  
}

.header{
    display: flex;
    align-items: center;
    color: white;
    padding: 0% 9%;
    background: #1f2937;
}

.header > h6{
  font-size: 24px;
  color: #f9faf8;
}

.logo{
    display: flex;
    justify-content: left;
    flex-shrink: 0;
    font-weight: 900;
    font-size: xx-large;
    flex: 1;
}

nav{
    display: flex;
    flex: 2;
    justify-content: right;
    gap:20px;
    list-style-type: none;
    font-size: 18px ;
}


 .top {
    display: flex;
    padding: 9%;
    background: #1f2937;
    gap:0;
  }
  .top > .left >h1{
    font-size: 77px;
    font-weight: 900;
    color: #f9faf8;
}

.top > p{
    font-size: 18px;
    color: #e5e7eb;
}
  
  .top > .left{
    flex:1;
  }
  
  .top>.left>p {
    
    color: #cbd5e1; 
    margin-bottom: 24px;   
  }
  
  .left> button {
    background-color: #3b82f6; 
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .top>.right {
    background-color: #747c86; 
    color: #cbd5e1;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/**/
  .information{
    background: white;
    text-align: center;
    flex-direction: column;
    margin: 3% 0%;
    display: flex;
  }
.info-con{
  display: flex;
  flex:1;
  text-align: justify;
  text-align-last: center;
  word-spacing: 0.2px;
  line-height: 1;
  gap: 5%;
  justify-content: center;
  padding: 4% 9%;
}
  .information> h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
  }

  .boxes > p{
    color: #5b626b;
    font-size: 18px;
    margin-top: 5%;
    font-size: 18px;
    width: 180px;
    flex: 1;
    

  }

  .information>.container{
    padding: 5% 14%;
    display: flex; 
    justify-content: center;

  }

  .boxes > button{
    border: solid #3882f6 4px;
    height: 180px;
    width: 180px;
    background: white;
    border-radius: 10px;
  }

  .quote{
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 10% 20%;
  }

  .quote > p:nth-child(1) {
    font-size: 36px;
    font-family: light italic;
    font-weight: 300;
    color: #1f2937;
 
  }

  .quote > p:nth-child(2){
    display: flex;
    justify-content: end;
    font-weight: 900;
    font-size: 18px;
   
  }

  /**/
 
  .sign-up > .container{
    background: #3b82f6;
    border-radius: 5px;
    margin: 9% 12%;
    padding: 4% 10%;
    display: flex;
    gap: 70px;
  }
  .sign-up-left{
    display: flex;
    flex-direction: column;
    flex:2;
  }
.sign-up-left >p:nth-child(1){
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    flex-direction: column;
  }

  .sign-up-left >p:nth-child(2){
    color: #ffffff;
    font-size: 18px;
  }

  .sign-up-right{
    display: flex;
    align-items: center;
    
    gap: 4;
  }
  .sign-up-right> button{
    border: #e5e7eb solid  2px;
    border-radius: 5px;
    padding: 5px 25px;
    background: transparent;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
  }
/**/
.footer{
  background: #1f2937;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 3%;
}



